.fc {
    .fc-toolbar {
        font-size: 16px;
    }

    .fc-toolbar-title {
        font-size: 24px;
    }

    .fc-daygrid-day-number {
        font-size: 14px;
    }

    .fc-timegrid-axis-cushion {
        font-size: 14px;
    }

    .fc-event {
        font-size: 13px;
    }

    .fc-timegrid-slot-label {
        font-size: 12px;
    }

    .fc-button {
        font-size: 14px;
    }
}
